*, *::before, *::after {
    box-sizing: border-box; 
  }
  
  body {
    background-color: rgb(44, 44, 41);
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    margin: 0 0 30px 0;
    padding: 20px;
    background-color: rgba(20,20,20,0.9);
    color: #fff;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    box-shadow: 0 0 20px -1px #efefef;
  }
  
  .carousel_wrapper {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-412px); 
    animation: swirl 40s steps(10000, end) infinite; 
  }
  
  .slide {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 187px;
  }
  
  .slide img {
    width: 280px;
    height: 175px;
    border: 3px inset rgba(20, 19, 19, 0.75);
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.9);
    border-radius: 0.2rem;
    
  }
  
 
  .slide.one {
    transform: rotateY(0deg) translateZ(412px);
  }
  .slide.two {
    transform: rotateY(90deg) translateZ(412px);
  }
  .slide.three {
    transform: rotateY(180deg) translateZ(412px);
  }
  .slide.four {
    transform: rotateY(270deg) translateZ(412px);
  }

  
  @keyframes swirl {   
    from {
      transform: rotateY(-360deg);
    }
    to {
      transform: rotateY(0deg);
    }
  } 

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .text-frame {
    background-color: #4b4a46de;
    border: none; /* Couleur et épaisseur de la bordure du cadre */
    border-style: none;
    border-radius: 0.2rem;
    padding: 50px; /* Espace entre la bordure et le texte */
    margin: 10px; /* Espace autour du cadre */
    width: absolute; /* Largeur du cadre */
    height: auto; /* Hauteur du cadre, ajustée automatiquement en fonction du contenu */
    box-shadow: 5px 5px 10px rgb(0, 0, 0); /* X-offset, Y-offset, blur, couleur */
    background-image: linear-gradient( #d5d3cdde, rgba(108, 102, 102, 0.582));
    position: center;
    font-family: Arial, Helvetica, sans-serif;
  
  
  }

  .text-frame input[type="submit"] {
    margin-top: 10px;
    background-color: #373535;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .text-frame input[type="submit"]:hover {
    background-color: #000000;
    cursor:pointer;
  }

  .text-frame a {
    /* Autres styles du lien */
    display: block; /* Afficher le lien en tant que bloc */
    margin-top: 20px; /* Ajouter une marge supérieure */
    text-decoration:underline;
    color:rgb(0, 0, 0)
  }

  a {
    text-decoration: none;
    color: #efefef;
  }
  

